@font-face {
    font-family: 'Futura';
    src: url('FuturaBT-MediumCondensed.woff2') format('woff2'),
        url('FuturaBT-MediumCondensed.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

