@font-face {
    font-family: 'Sabon';
    src: url('SabonLTW1G-Roman.woff2') format('woff2'),
        url('SabonLTW1G-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sabon';
    src: url('SabonLTW1G-Bold.woff2') format('woff2'),
        url('SabonLTW1G-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sabon';
    src: url('SabonLTW1G-Italic.woff2') format('woff2'),
        url('SabonLTW1G-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Sabon';
    src: url('SabonLTW1G-BoldItalic.woff2') format('woff2'),
        url('SabonLTW1G-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Arial';
    src: url('Arial-Black.woff2') format('woff2'),
        url('Arial-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
  font-family: 'Times';
  src: url('Times-Roman.woff2') format('woff2'),
       url('Times-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Times';
  src: url('Times-Italic.woff2') format('woff2'),
       url('Times-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Times';
  src: url('Times-Bold.woff2') format('woff2'),
       url('Times-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: 'Courier New';
    src: url('CourierNewPS-BoldMT.woff2') format('woff2'),
        url('CourierNewPS-BoldMT.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Courier New';
    src: url('CourierNewPS-ItalicMT.woff2') format('woff2'),
        url('CourierNewPS-ItalicMT.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Courier New';
    src: url('CourierNewPS-BoldItalicMT.woff2') format('woff2'),
        url('CourierNewPS-BoldItalicMT.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Courier New';
    src: url('CourierNewPSMT.woff2') format('woff2'),
        url('CourierNewPSMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

