.about__container {
  @extend .layout-wrapper--full;
  
  display: grid;
  grid-template-columns: fit-content(700px) fit-content(300px);
  grid-column-gap: var(--margin);

  @include mobile {
    grid-row-gap: calc(1em * var(--line-height));
    grid-template-columns: 1fr;
  }
}
