.comings-layout {
    position: relative;
    padding: 20px;
    color: var(--main-color);

    #back-to-comings {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    #jump-nav {
        position: fixed;
        top: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: flex-end;
    }

    h1#page-title {
        font-weight: normal;
        color: var(--highlight-color);

        @media (max-width: 1000px) {
            position: absolute;
            top: 45px;
            left: 20px;
        }
    }

    .subsection-index-container {
        max-width: 1200px;
        margin: auto;
        min-height: initial;
        margin-bottom: 200px;
        padding: 0;
    }


    .content  {
        margin: 200px auto;
    }
    .content p {
        margin: 30px 0;
    }
    #page-title, .content p, h2.section-heading {
        font-size: var(--font-size);
        line-height: var(--line-height);
        font-weight: normal;
    }
    h2.section-heading {
        margin-bottom: 40px;
    }

    // Gallery
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 40px;
        width: 100%;

        figure {
            margin: 0;
            figcaption {
                margin-top: 10px;
                font-size: var( --font-size--secondary);
                line-height: var(--line-height);
            }
        }

        @include mobile {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    #page-title, .narrow-section {
        max-width: 700px;
        margin: 0 auto;
    }
    // .wide-section {
    //     max-width: 1500px;
    //     margin: 0 auto;
    // }
    .narrow-section, .wide-section {
        margin-bottom: 200px;
    }

    // Materials
    .materials {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 20px 0;

        .materials-block {
            display: flex;
            align-items: flex-end;
            aspect-ratio: 1 / 1;
            min-width: 200px;
            max-width: 200px;
            padding: 10px;
            border: 1px solid var(--main-color);
            margin-left: -1px;
            margin-top: -1px;

            &:hover {
                border-color: var(--highlight-color) !important;
                z-index: 1;
            }
        }
    }

    // Participants
    .participants {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 25px;
        grid-row-gap: 40px;

        .participant {
            .participant-header {
                display: flex;
                flex-direction: row;
                gap: 10px;

                .tiny-square {
                    width: 18px;
                    height: 18px;
                    background-color: var(--tiny-square-color);
                }
            }

            .participant-bio {
                margin-top: 20px;
            }
        }

        @include mobile {
            grid-template-columns: repeat(1, 1fr);
        }
    }   

    .sources-section {
        ul.sources {
            list-style: none;
            padding: 0;
            margin: 0;

            li.source {
                padding: 10px 0;
                border-bottom: 1px solid var(--main-color);

                &:first-child {
                    padding-top: 0;
                }

                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}