.listings__wrapper {
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.listings__header {
  display: inline-block;
  left: 0;
  position: sticky;
  top: 0;
}

.listings {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 0px;
  margin-left: var(--margin);
  margin-right: var(--margin);
  width: max-content;

  @include mobile {
    // height: initial;
    // padding-bottom: calc(2 * var(--margin));
  }

  .listings__item {
    flex-shrink: 0;
    height: 100%;
    margin-left: var(--margin);
    margin-right: calc(-1 * var(--scrollbar-width));
    overflow: auto;
    padding-bottom: calc(6 * var(--margin));
    padding-right: var(--scrollbar-width); 
    width: var(--nonmobile--width, 300px);

    @include mobile {
      // height: initial;
      // overflow: initial;
      // padding-bottom: initial;
      width: var(--mobile--width, 50vw);
    }

    &:first-of-type {
      margin-left: initial;
    }

    div, ul {
      margin-bottom: 1em;
    }

    .listing__hero {
      margin-bottom: 1em;
    }
    
    .listing__title {
      font-weight: bold;
    }

    .listing__preview {
      margin-top: 1em;
    }
  }
}

.listing {
  .listing__title {
    font-weight: bold;
  }

  .listing__content {
    margin-top: 1em;
  }

  .listing__gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: calc(-1 * var(--margin) + 1em);
    margin-left: calc(-1 * var(--margin));

    .listing__gallery__item {
      width: 200px;
      margin-top: var(--margin);
      margin-left: var(--margin);

      @include mobile {
        width: calc(50% - var(--margin));
      }

      .listing__gallery__item__caption {
        margin-top: 1em;
        font-size: var(--font-size--secondary);
      }
    }
  }
}
