.partners__container {
  @extend .layout-wrapper--full;
  flex-shrink: 1;
  height: 50%;

  @include mobile {
    flex-shrink: initial;
    height: initial;
    padding-bottom: calc(2 * var(--margin));
  }
}

.partners {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  margin-left: calc(-1 * var(--margin));

  @include mobile {
    height: initial;
  }

  .partners__partner {
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    padding-top: var(--margin);
    padding-bottom: var(--margin);
    margin-left: var(--margin);
    width: calc((100% / var(--partner--count, 5)) - var(--margin));
    height: 100%;
    overflow: auto;
    padding-right: var(--scrollbar-width); 

    @include mobile {
      width: calc(50% - var(--margin));
      height: initial;
      overflow: initial;
    }

    .partner__logo {
      margin: var(--margin);
      padding-top: 66.66%;
      position: relative;

      .partner__logo__image {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .partner__description {
      color: var(--partner-color);
    }
  }
}