.partners__container {
  @extend .layout-wrapper--full;
  flex-shrink: 1;
  height: 50%;

  @include mobile {
    flex-shrink: initial;
    height: initial;
    padding-bottom: calc(2 * var(--margin));
  }
}

.subsection-index-container {
    padding: var(--margin);

    .partners {
        .partner-logo-inner {
            padding: 10px;
            border: 1px solid var(--partner-color);
        }
        figure img {
            object-fit: contain !important;
            height: 100%;
        }
        .subsection-index-item-preview {
            color: var(--main-color);
            height: 200px;
            overflow-y: auto;
        }
    }
}

#support-link {
    color: var(--highlight-color);
}