// .layout-wrapper--full.goings, .layout-wrapper--full.comings {
//     margin: 0 !important;
//     height: 100dvh;
// }

// .subpage-nav-wrapper, .subsection {
//   height: 100dvh;
// }

.subsection-nav {
  .grid-six-container, .grid-ten-container {
    height: 100dvh;
  }
}

.subsection {
  .grid-six-container, .grid-ten-container {
    height: 80dvh;
    padding-top: 80px;
  }
}

.grid-six-container, .grid-ten-container {
    z-index: 1;
    // margin-left: var(--margin);
    // margin-right: var(--margin);
    // margin-top: var(--margin);
    // margin-bottom: calc(4 * var(--margin));
    margin: 0 var(--margin);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
      z-index: 10;
      opacity: 0;
    }

    .subsection-grid__ticker__url {
      pointer-events: initial;
      display: block;
      grid-area: ticker;
    }

    .grid-blocks {
      margin-top: -220px;
      height: 100%;
      display: grid;
      /* Use aspect-ratio to maintain square cells */
      grid-template-columns: repeat(3, 1fr);
      /* Auto-fill rows with the same size as columns */
      grid-auto-rows: 1fr;
      max-width: 77dvh;
      max-height: 35dvh;
      width: 100%;
      aspect-ratio: 3/2; /* Overall grid aspect ratio */

      @include mobile {
        max-height: 25vh;
      }

      .grid-block-container {
        grid-area: var(--grid-area);
        aspect-ratio: 1/1; /* Force square aspect ratio */
        // width: 100%;
        // height: 100%;
        // max-width: 268px;
        margin: 0 -1px -1px 0;
        
        .grid-block {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          position: relative;
          height: 100%;
          width: 100%;
          color: var(--text-color);
          padding: calc(0.5* var(--margin));
          flex-direction: column;
          justify-content: space-around;
        //   border: 1px solid #c1c1c1;
          border: 1px solid var(--section-color);
          background-color: #fff;
          box-sizing: border-box;
          z-index: 2;

          &:hover {
            color: #fff;
            border: 1px solid var(--section-color);
            background-color: var(--section-color);
            z-index: 10;
          }
        }

        .grid-block-image {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          position: relative;
          height: 100%;
          width: 100%;
          color: var(--text-color);
          flex-direction: column;
          justify-content: space-around;
          
          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            aspect-ratio: 1/1;
          }
          
          .grid-block-text {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            opacity: 0;
            padding: calc(0.5* var(--margin));
            z-index: 2;
          }
          
          &:hover {
            img {
              opacity: 0;
            }
            
            .grid-block-text {
              opacity: 1;
            }
          }
        }
      }

      .grid-block-container-image {
        margin: 0px;
      }

      .grid-block-placeholder {
        .grid-block {
          border: 0;
          z-index: 0;
          &:hover {
            border: 0;
            z-index: 0;
          }
        }
      }
    }
}

.subsection-blurb {
  position: absolute;
  top: 0;
  left: 0;
  padding: var(--margin);
  font-size: var(--font-size);
  line-height: var(--line-height);
  width: 100%;
  max-width: 800px;
  width: 100%;
}

.back-to-top {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: var(--font-size--secondary);
}

.subsection-index-container {
  max-width: 2000px;
  width: 100%;
  padding: 20px;
  min-height: 90dvh;

  h2.subsection-index-title {
    font-size: var(--font-size);
    margin-bottom: 20px;
    font-weight: 400;
  }

  .subsection-index {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    align-items: start;
    row-gap: 40px;
    column-gap: 30px;
    

    .subsection-index-item {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      gap: 10px;

      .subsection-index-item-title {
        font-size: var(--font-size--secondary);
      }
      
      &:hover {
        .tiny-square {
          border-color: var(--section-color);
        }
      }

      .subsection-index-item-content {
        display: grid;
        grid-template-columns: 1fr 1.2fr;
        gap: 20px;

        a {
          display: flex;
          flex-flow: column nowrap;
          align-items: flex-start;
          gap: 10px;
        }
    
        img {
          max-width: 300px;
          max-height: 300px;
          aspect-ratio: 1/1;
          object-fit: cover;
          width: 100%;
        }
    
        .subsection-index-item-preview {
          font-size: var(--font-size--secondary);
        }
      }
    }
  }
}


.grid-ten-container {
  .grid-blocks {
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    max-width: 2000px;
  }
}

