.layout-wrapper--full.goings, .layout-wrapper--full.comings {
    margin: 0 !important;
}

.subsection__contents__wrapper {
    position: fixed;
    z-index: 1;
    margin-left: var(--margin);
    margin-right: var(--margin);
    margin-top: var(--margin);
    margin-bottom: calc(4 * var(--margin));
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
      z-index: 10;
      opacity: 0;
    }

    .subsection-grid__ticker__url {
      pointer-events: initial;
      display: block;
      grid-area: ticker;
    }

    .subsection__blocks {
      height: 100%;
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-template-rows: repeat(2, minmax(0, 1fr));
      max-width: 800px;
      max-height: 600px;
      width: 100%;

      @include mobile {
        max-height: 25vh;
      }

      .subsection__block__container {
        grid-area: var(--grid-area);
        margin: -1px;

        .subsection__block {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          position: relative;
          height: 100%;
          color: var(--text-color);
          padding: calc(0.5 * var(--margin));
          flex-direction: column;
          justify-content: space-around;
          border: 1px solid #c1c1c1;
          background-color: #fff;

          &:hover {
            border: 1px solid var(--background-color);
            z-index: 10;
          }
        }
      }
    }
  }
  
