.events-exhibitions {
  display: flex;
  flex-direction: row;
  overflow-x: auto;

  .listing__list {
    width: 20%;
    flex-shrink: 0;
    margin-left: var(--margin);

    @include mobile {
      width: 50%;
    }
    
    &:first-of-type {
      margin-left: initial;
    }

    div, ul {
      margin-bottom: 1em;
    }

    .listing__hero {
      margin-bottom: 1em;
    }
    .listing__title {
      font-weight: bold;
    }

    .listing__preview {
      margin-top: 1em;
    }
  }
}

.event-exhibition {
  .listing__title {
    font-weight: bold;
  }
  
  .listing__content {
    margin-top: 1em;
  }

  .listing__gallery {
    

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: calc(-1 * var(--margin) + 1em);
    margin-left: calc(-1 * var(--margin));
    
    .listing__gallery__item {
      width: 200px;
      margin-top: var(--margin);
      margin-left: var(--margin);

      @include mobile {
        width: calc(50% - var(--margin));
      }

      .listing__gallery__item__caption {
        margin-top: 1em;
        font-size: var(--font-size--secondary);
      }
    }
  }
}