.events-exhibitions {
  columns: 4;
  column-gap: var(--margin);

  @include mobile {
    columns: 2;
  }

  .listing__list {
    break-inside: avoid-column;
    margin-bottom: var(--margin);

    .listing__hero {
      margin-bottom: 1em;
    }
    .listing__title {
      font-weight: bold;
    }

    .listing__preview {
      margin-top: 1em;
    }
  }
}

.event-exhibition {
  .listing__title {
    font-weight: bold;
  }
  
  .listing__content {
    margin-top: 1em;
  }

  .listing__gallery {
    

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: calc(-1 * var(--margin) + 1em);
    margin-left: calc(-1 * var(--margin));
    
    .listing__gallery__item {
      width: 200px;
      margin-top: var(--margin);
      margin-left: var(--margin);

      @include mobile {
        width: calc(50% - var(--margin));
      }

      .listing__gallery__item__caption {
        margin-top: 1em;
        font-size: var(--font-size--secondary);
      }
    }
  }
}