.highlight {
  color: var(--highlight-color);
}

.layout-wrapper {
  margin: var(--margin);
  max-width: 700px;
}

.layout-wrapper--full {
  margin: var(--margin);
}

body {
  padding-bottom: calc(2 * var(--margin));
}