.highlight {
  color: var(--highlight-color);
}

// .layout-wrapper {
//   margin: var(--margin);
//   max-width: 700px;
//     display: grid;
// }

.layout-wrapper--full {
  margin: var(--margin);
  display: grid;
}

body {
  padding-bottom: calc(2 * var(--margin));
}
