.navigation__container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  nav {
    padding: var(--margin);
    overflow-x: auto;
    overflow-y: hidden;

    .navigation {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

    .navigation__item {
      padding-right: var(--margin);
      flex-shrink: 0;
      }
    }
  }
}

#mc_embed_signup {
  #mc_embed_signup_scroll {
    display: flex;

    input[type="email"] {
      border-bottom: .1em solid var(--main-color);
    }

    input[type="submit"] {
      margin-left: calc(0.5 * var(--margin));
      cursor: pointer;
      color: var(--highlight-color);
    }
  }
}
