.navigation__container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  nav {
    padding: var(--margin);
    overflow-x: auto;
    overflow-y: hidden;

    .navigation {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

    .navigation__item {
      padding-right: var(--margin);
      flex-shrink: 0;
      }
    }
  }
}
