/* RESET/GLOBAL */
*,
*:after,
*:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* Now 10px = 1rem! */
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--main-color);
}

ul {
  list-style-type: none;
}

strong, b {
  font-weight: bold;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  color: currentColor;
  text-decoration: none;
}

a:hover {
  // text-decoration: none;
}

input {
  @extend %form-reset-input;
}

label {
  @extend %form-reset-label;
}

select {
  @extend %form-reset-select;
}

button {
  @extend %form-reset-button;
  cursor: pointer;
}

textarea {
  @extend %form-reset-textarea;
}