.shop__header {
  @extend %grid;
  grid-template-areas: "title content content content content";

  .shop__title {
    grid-area: title;
  }

  .shop__content {
    grid-area: content;
    @extend .highlight;
  }

  @include mobile {
    grid-template-areas: "title content content";
  }
}

.shop {
  display: flex;
  flex-direction: row;
  overflow-x: auto;

  .item {
    width: 20%;
    flex-shrink: 0;
    margin-left: var(--margin);

    @include mobile {
      width: 50%;
    }
    
    &:first-of-type {
      margin-left: initial;
    }

    div {
      margin-bottom: 1em;
    }

    .item__reviews {
      @extend .highlight;
    }

    .item__credits {
      font-size: var(--font-size--secondary);
    }

    .item__metadata {
      font-size: var(--font-size--secondary);
    }
  }
}