.email-signup {
  .embeddable-buttondown-form {
    display: flex;

    input[type="email"] {
      border-bottom: .1em solid var(--main-color);
    }

    input[type="submit"] {
      margin-left: calc(0.5 * var(--margin));
      cursor: pointer;
      color: var(--highlight-color);
    }
  }
}