.mullen {
  padding-bottom: initial;
  background-color: #224fc7;
  font-family: 'Times';
  align-items: center;
  margin-top: var(--margin);


.mullen__layout-wrapper {
  display: flex;
  max-width: 462px;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin: auto;
  color: white;

  }

  .poem {
    font-size: var(--font-size);
    padding-bottom: calc(2 * var(--margin));
  }

  .audio{
    padding-top: calc(1.5 * var(--margin));
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;


    .audio__block {
      text-align: center;
      margin: 0px;
      z-index: -9;
    }

  .audio__item {
    padding-bottom: calc(.5 * var(--margin));
    font-size: var(--font-size--secondary);
    }

    .audio__caption {
      font-size: var(--font-size--secondary);
      padding-bottom: calc(1.5 * var(--margin));
    }

  a {
      font-style: italic;
      color: white;
    }

  }

  .mullen__bibliography {
    padding-top: calc(1.5 * var(--margin));
    padding-bottom: calc(2.5 * var(--margin));
    font-size: var(--font-size--secondary);

  }

  .poem__citation {
    padding-top: calc(1.5 * var(--margin));
    font-size: var(--font-size--secondary);

  }


  .mullen__layout-wrapper {
    width: 470px;
    }

  @include mobile {
    max-width: 110px;
    margin: var(--margin);
  }

  }
