.mullen {
  padding-bottom: initial;
  background-color: #224fc7;
  font-family: 'Times';
  align-items: center;
  margin-top: var(--margin);


  .mullen__layout-wrapper {
    display: flex;
    max-width: 470px;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin: auto;
    color: white;

    @include mobile {
      margin: var(--margin);
    }
  }

  .hidden {
    display: none;

    &.expanded {
      display: block;
    }
  }

  .poem {
    font-size: var(--font-size);
    padding-bottom: calc(5 * var(--margin));

    @include mobile {
      white-space: nowrap;
      overflow: auto;

    }
  }
  .poem__title {
    padding-bottom: calc(3 * var(--margin));
  }

  .poem__citation {

    padding-bottom: calc(2.5 * var(--margin));
    font-size: var(--font-size--secondary);
  }



  .audio {

      padding-bottom: calc(3 * var(--margin));
      font-size: var(--font-size--secondary);


    .audio__block {
      margin: 0;
      text-align: left;
      z-index: -9;
      padding-bottom: calc(.5 * var(--margin));
      // display: block;

      }

      .audio__caption.text {
        // padding-bottom: calc(5 * var(--margin));
      }
    }

  }

  .audio a {
    color: white;
    font-style: italic;
  }

  .navigation__container {
    z-index: 7;
  }

  .mullen__bio-credits {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 3;
    overflow: auto;
    padding-bottom: calc(3 * var(--margin));
    color: white;
    background-color: #224fc7;



    &.active {
      display: block;
    }

    .bio {
      padding-bottom: calc(2 * var(--margin));
    }

}
