%codeswitch-primary-fontstack {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}

.codeswitch {
  background-color: #dd6203;
  padding-bottom: initial;
  
  .codeswitch__content {
    @extend %codeswitch-primary-fontstack;

    min-width: 100vw;
    min-height: 100vh;
    margin-bottom: 6em;

    cursor: pointer;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    .codeswitch__block {
      display: none;
      width: var(--width);
      margin: var(--margin);
      order: var(--order);

      &:first-of-type {
        display: block;
      }

      &:hover {
        .codeswitch__block__text:not(:only-child) {
          visibility: visible;
        }
      }

      @include mobile {
        width: 40vw;
      }

      .codeswitch__block__upload {
        * {
          width: 100%;
          display: block;
        }

        img, video, div {
          height: auto;
        }
      }

      .codeswitch__block__embed {
        position: relative;
        padding: 56.25% 0 0 0;
        iframe {
          position: absolute;
          top:0;
          left:0;
          width:100%;
          height:100%;
        }
      }

      .codeswitch__block__text {
        margin-top: 0.5em;
        color: white;
        &:only-child {
          margin-top: initial;
        }

        &:not(:only-child) {
          visibility: hidden;

          @include mobile {
            visibility: initial;
          }
        }
      }
    }
  }

  .codeswitch__overlay {
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__content {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    &__title {
      @extend %codeswitch-primary-fontstack;
      font-size: 5em;

      @include mobile {
        font-size: 2em;
      }
    }
  }
}