%full {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 8rem;

  @include mobile {
    bottom: 5rem;
  }
}

.laura-mullen {
  padding-bottom: initial;
  width: 100vw;
  height: 100vh;
  background-color: black;
  --transition-duration: 5s;

  .navigation__container {
    --highlight-color: white;
    background: black;
  }

  .laura-mullen-audio__wrapper__vertical {
    @extend %full;

    display: flex;
    margin: auto;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    transition: all var(--transition-duration) linear;

    &.hidden {
      visibility: hidden;
      opacity: 0;
    }

    .laura-mullen-audio__wrapper__horizontal {
      display: flex;
      margin: auto;

      .laura-mullen-audio__audio {
        pointer-events: none;
        margin: auto;
        filter: contrast(100%) invert(100%);
      }
    }
  }

  .laura-mullen-image__wrapper {
    @extend %full;

    opacity: 0;
    visibility: hidden;
    transition: all var(--transition-duration) linear;
    transition-delay: var(--transition-duration);
    cursor: pointer;

    &.visible {
      visibility: visible;
      opacity: 1;
    }

    .laura-mullen__images {
      width: 100%;
      height: 100%;
      position: relative;
      pointer-events: none;

      .laura-mullen__images__image {
        position: absolute;
        margin: var(--margin);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        visibility: hidden;
        opacity: 0;
        transition: all 250ms ease-in-out;

        &.active {
          visibility: visible;
          opacity: 1;
        }

        .laura-mullen__images__image__img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;
        }

      }
    }
  }

  .laura-mullen__bio-credits {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding-bottom: calc(3 * var(--margin));
    display: none;
    z-index: 3;
    color: white;
    background-color: black;


    &.active {
      display: block;
    }
  }

  .laura-mullen__notes {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding-bottom: calc(3 * var(--margin));
    z-index: 3;
    color: white;

    visibility: hidden;
    opacity: 0;
    backdrop-filter: blur(0px);
    transition: all 250ms linear;

    &.active {
      visibility: visible;
      opacity: 1;
      -webkit-backdrop-filter: blur(50px);
      backdrop-filter: blur(50px);
    }

    .laura-mullen__notes__note {
      margin: auto;
      max-width: 600px;
    }
  }
}
