.origin {
  padding-bottom: initial;

  .season--origin {
    height: 100vh;
    padding: var(--margin);
    margin: initial;
    display: flex;
    flex-direction: column;

    .origin__header {
      @extend %grid;
      z-index: 5;
      grid-template-areas: "logo definition definition definition bibliography";
      position: relative;
      pointer-events: none;

      .origin__site-title {
        grid-area: logo;
        display: flex;
        flex-direction: column;

        .site-title__text {
          pointer-events: initial;
        }

        .site-title__logo {
          visibility: hidden;
        }

        // &:hover {
        //   flex-direction: column-reverse;
        //   .site-title__text {
        //     visibility: hidden;
        //   }

        //   .site-title__logo {
        //     visibility: initial;
        //   }
        // }
      }

      .origin__definition-container {
        grid-area: definition;
        color: #555;

        font-family: monospace;
        font-size: 1.2em;
        font-weight: 500;

        @include mobile {
          font-size: 1.05em;
        }

        &.expanded {
          .origin__definition {
            display: block;
          }
        }

        .origin__title {
          cursor: pointer;
          pointer-events: initial;
        }

        .origin__definition {
          display: none;
          text-align: justify;
          margin-top: 1em;

          @include mobile {
            text-align: initial;
            word-break: break-all;
          }
        }
      }

      .bibliography {
        grid-area: bibliography;
        position: absolute;
        left: 0;
        right: 0;
        overflow: auto;
        height: calc(100vh - 2 * var(--margin));

        .bibliography__header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          pointer-events: initial;

          .bibliography__header__button {
            cursor: pointer;
          }
        }

        .bibliography__list {
          visibility: hidden;
          margin-top: 1em;

          .bibliography__item {
            margin-left: 1em;
            text-indent: -1em;
            margin-bottom: 1em;
            word-wrap: break-word;
            font-size: var(--font-size--secondary);

            .bibliography__item__embed {
              margin-left: 1em;

              iframe, div, img {
                width: 100%;
                height: auto;
              }

              audio {
                display: block;
                width: 100%;
              }

            }
          }
        }

        &.expanded {
          pointer-events: initial;
          background: #fff;
          
          .bibliography__list {
            visibility: visible;
          }
        }
      }

      @include mobile {
        grid-template-areas: "definition definition bibliography";

        .origin__site-title {
          display: none;
        }
      }
    }

    .origin__contents {
      position: fixed;
      z-index: 3;
      margin-left: var(--margin);
      margin-right: var(--margin);
      margin-top: 20vh;
      margin-bottom: calc(4 * var(--margin));
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      @include mobile {
        margin-top: 55vh;
      }

      &.active {
        z-index: 10;
        opacity: 0;
      }

      .origin__blocks {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        grid-template-rows: repeat(3, minmax(0, 1fr));

        .origin__block__container {
          grid-area: var(--grid-area);

          .origin__block {
            position: relative;
            height: 100%;
            background-color: var(--background-color, #FFF);
            padding: calc(0.5 * var(--margin));
            display: flex;
            flex-direction: column;
            justify-content: space-around;
          }
        }
      }
    }
  }
}

.origin__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  padding: var(--margin);

  &.active {
    display: flex;
    z-index: 9;
  }

  .overlay__heading {
    position: fixed;
    pointer-events: none;
    color: white;

    top: var(--margin);
    left: var(--margin);
  }
  .overlay__image {
    object-fit: contain;
    width: 100%;
    height: 100%;
    display: none;

    &.active {
      display: block;
    }
  }
}

@import "5_john_jennings";
@import "4_sanford_biggers_codeswitch";
@import "3_harryette_mullen";