.season {
  color: var(--main-color);
  font-size: var(--font-size);
  grid-column-start: 3;
  grid-column-end: 4;

    .season__title {
      margin-bottom: calc(.5 * var(--margin));
    }
    .season__title:hover {
      cursor: pointer;
    }
    .season__body {
       visibility: hidden;
    }
}

.bibliography {
  grid-column-start: 7s;
  grid-column-end: 8;
  border-spacing: 1.5px;
  // position: fixed;
  right: 0;
  left: 0;
  height: 100vw;
  overflow: auto;

  .bibliography__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    padding-bottom: calc(.5 * var(--margin));
  }

  .bibliography__list {
    visibility: hidden;
    .bibliography__item {
      padding-left: 22px;
      text-indent: -22px;
      margin-bottom: 1em;
      width: 250px;
      font-size: var(--font-size--secondary);
    }
  }
  .bibliography__header:hover {
    cursor: pointer;
  }

  .closebtn {
    visibility: hidden;

  }
}

.season--origin {
  .origin__header {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: var(--margin);

    .origin__definition-container {

      &.expanded {
        .origin__definition {
          display: block;
        }
      }

      .origin__title {
        cursor: pointer;
      }

      .origin__definition {
        display: none;
        margin-top: 1em;
      }
    }
  }
}