/* ----------------------------------------------------------------------------------------------------

SCSS Form Reset Helpers - Forked from: https://gist.github.com/anthonyshort/552543

Intended usage:
- MIXINS: for very specific use cases, when you dont want to reset absolutly all the forms, very verbose output.
- PLACEHOLDER SELECTORS: use as extending classes. Less verbose, more generic overrides.

A couple of things to watch out for:

- IE8: If a text input doesn't have padding on all sides or none the text won't be centered.
- The default border sizes on text inputs in all UAs seem to be slightly different. You're better off using custom borders.
- You NEED to set the font-size and family on all form elements
- Search inputs need to have their appearance reset and the box-sizing set to content-box to match other UAs
- You can style the upload button in webkit using ::-webkit-file-upload-button
- ::-webkit-file-upload-button selectors can't be used in the same selector as normal ones. FF and IE freak out.
- IE: You don't need to fake inline-block with labels and form controls in IE. They function as inline-block.
- By turning off ::-webkit-search-decoration, it removes the extra whitespace on the left on search inputs

----------------------------------------------------------------------------------------------------*/
@import "fonts/stylesheet.css";
textarea, button, select, label, input {
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 0;
  width: auto;
  vertical-align: middle;
  white-space: normal;
  line-height: inherit;
  background: none;
  /* Browsers have different default form fonts */
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

select, input[type=reset], input[type=button], input[type=submit], input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input {
  /* Make webkit render the search input like a normal text field */
  /* Turn off the recent search for webkit. It adds about 15px padding on the left */
  /* Fix IE7 display bug */
  /* These elements are usually rendered a certain way by the browser */
}
input:focus {
  outline: 0;
}
input[type=checkbox], input[type=radio] {
  width: 13px;
  height: 13px;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}
::-webkit-search-decoration {
  display: none;
}

input[type=reset], input[type=button], input[type=submit] {
  overflow: visible;
}
select {
  /* Move the label to the top */
}
select[multiple] {
  vertical-align: top;
}

button {
  background: none;
  border: 0;
  outline: none;
  /* IE8 and FF freak out if this rule is within another selector */
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button:hover, button:active, button:focus {
  outline: 0;
}
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}

textarea {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto;
}

/* RESET/GLOBAL */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* Now 10px = 1rem! */
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--main-color);
}

ul {
  list-style-type: none;
}

strong, b {
  font-weight: bold;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.home .home__header {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-column-gap: var(--margin);
}
@media screen and (max-width: 768px) {
  .home .home__header {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

:root {
  --font-size: 1.8rem;
  --font-size--secondary: 1.5rem;
  --font-size--mobile: 1.6rem;
  --font-size--mobile--secondary: 1.2rem;
  --line-height: 1.22;
  --margin: 3.0rem;
  --margin--mobile: 1.5rem;
  --scrollbar-width: 1.5rem;
  --font-family: "Sabon", serif;
  --highlight-color: #000;
  --alert-color: #f00;
  --main-color: #888;
  --ticker-width: -100vw;
}
@media screen and (max-width: 768px) {
  :root {
    --margin: var(--margin--mobile);
    --font-size: var(--font-size--mobile);
    --font-size--secondary: var(--font-size--mobile--secondary);
  }
}

.highlight, .publication .publication__reviews {
  color: var(--highlight-color);
}

.layout-wrapper {
  margin: var(--margin);
  max-width: 700px;
}

.layout-wrapper--full, .about__container, .partners__container {
  margin: var(--margin);
}

html {
  height: -webkit-fill-available;
}

body {
  padding-bottom: calc(2 * var(--margin));
}
body.no-pad {
  padding-bottom: initial;
}
body.invert {
  background-color: #888;
  --main-color: white;
  color: var(--main-color);
}
body.height-limited {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.height-constrained {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .height-constrained {
    height: initial;
    overflow: initial;
    display: initial;
    flex-direction: initial;
  }
}

.height-100 {
  height: 100%;
}

.col-2 {
  columns: 2;
}

.grid-2 {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-gap: var(--margin);
}
@media screen and (max-width: 768px) {
  .grid-2 {
    grid-template-columns: minmax(0, 1fr);
  }
}

.navigation__container {
  pointer-events: none;
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, white 35%);
}
.invert .navigation__container {
  background: #888888;
  background: linear-gradient(180deg, rgba(136, 136, 136, 0) 0%, #888888 35%);
}
.navigation__container nav {
  padding: var(--margin);
  padding-top: initial;
  margin-top: var(--margin);
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: space-between;
  pointer-events: auto;
}
.navigation__container nav .navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.navigation__container nav .navigation .navigation__item {
  flex-shrink: 0;
  padding-right: var(--margin);
}

.event-ticker {
  --width: 100vw;
  color: var(--highlight-color);
  overflow: hidden;
  width: var(--width);
}
.event-ticker .ticker__list {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--width), 0, 0);
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes marquee {
  from {
    transform: translate3d(var(--width), 0, 0);
  }
  to {
    transform: translate3d(var(--ticker-width), 0, 0);
  }
}
.event-ticker .ticker__list .ticker__item {
  padding-right: var(--margin);
  white-space: nowrap;
}

.text p, .text figure, .text ul, .text ol {
  margin-top: calc(1em * var(--line-height));
}
.text figcaption {
  margin-top: calc(0.5em * var(--line-height));
  font-size: 0.8em;
}
.text hr {
  display: none;
}
.text blockquote {
  padding-left: 4em;
  padding-right: 4em;
}
.text img {
  display: block;
  width: 100%;
}
.text *:first-child {
  margin-top: initial;
}
.text a:not(.no-highlight) {
  color: var(--highlight-color);
}
.text sup {
  font-size: 0.6em;
}
.text .footnotes ol li {
  font-size: 0.75em;
}
.text .footnotes ol li .footnote-backref {
  font-size: 0.6em;
}

.home__container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.home {
  height: 100%;
  padding: var(--margin);
  margin: initial;
  display: flex;
  flex-direction: column;
}
.home .home__header {
  z-index: 2;
  grid-template-areas: "logo ticker ticker ticker bibliography";
  position: relative;
  pointer-events: none;
}
.home .home__header .home__site-title {
  grid-area: logo;
  display: flex;
  flex-direction: column;
}
.home .home__header .home__site-title .site-title__text {
  pointer-events: initial;
}
.home .home__header .home__ticker__url {
  pointer-events: initial;
  display: block;
  grid-area: ticker;
}
.home .home__header .home__ticker-container {
  grid-area: ticker;
  color: black;
}
@media screen and (max-width: 768px) {
  .home .home__header .home__ticker-container .home__ticker {
    text-align: initial;
    word-break: break-all;
  }
}
.home .home__header .bibliography {
  grid-area: bibliography;
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
  padding-left: 1em;
  margin-left: -1em;
  height: calc(100vh - 2 * var(--margin));
}
.home .home__header .bibliography .bibliography__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  pointer-events: initial;
}
.home .home__header .bibliography .bibliography__header .bibliography__header__button {
  cursor: pointer;
}
.home .home__header .bibliography .bibliography__list {
  visibility: hidden;
  margin-top: 1em;
}
.home .home__header .bibliography .bibliography__list .bibliography__item {
  margin-left: 1em;
  text-indent: -1em;
  margin-bottom: 1em;
  word-wrap: break-word;
  font-size: var(--font-size--secondary);
}
.home .home__header .bibliography .bibliography__list .bibliography__item:first-of-type {
  text-indent: initial;
  margin-left: initial;
}
.home .home__header .bibliography .bibliography__list .bibliography__item .bibliography__item__embed {
  margin-left: 1em;
}
.home .home__header .bibliography .bibliography__list .bibliography__item .bibliography__item__embed iframe, .home .home__header .bibliography .bibliography__list .bibliography__item .bibliography__item__embed div, .home .home__header .bibliography .bibliography__list .bibliography__item .bibliography__item__embed img {
  width: 100%;
  height: auto;
}
.home .home__header .bibliography .bibliography__list .bibliography__item .bibliography__item__embed audio {
  display: block;
  width: 100%;
}
.home .home__header .bibliography.expanded {
  pointer-events: initial;
  background: #fff;
  overflow: auto;
}
.home .home__header .bibliography.expanded .bibliography__list {
  visibility: visible;
}
@media screen and (max-width: 768px) {
  .home .home__header {
    grid-template-areas: "ticker ticker bibliography";
  }
  .home .home__header .home__site-title {
    display: none;
  }
}
.home .home__contents {
  position: fixed;
  z-index: 1;
  margin-left: var(--margin);
  margin-right: var(--margin);
  margin-top: 20vh;
  margin-bottom: calc(4 * var(--margin));
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@media screen and (max-width: 768px) {
  .home .home__contents {
    margin-top: 55vh;
  }
}
.home .home__contents.active {
  z-index: 10;
  opacity: 0;
}
.home .home__contents .home__blocks {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
}
.home .home__contents .home__blocks .home__block__container {
  grid-area: var(--grid-area);
}
.home .home__contents .home__blocks .home__block__container .home__block {
  position: relative;
  height: 100%;
  color: var(--text-color, #FFF);
  background-color: var(--background-color, #FFF);
  padding: calc(0.5 * var(--margin));
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.home__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  padding: var(--margin);
}
.home__overlay.active {
  display: flex;
  z-index: 9;
}
.home__overlay .overlay__heading {
  position: fixed;
  pointer-events: none;
  top: var(--margin);
  left: var(--margin);
}
.home__overlay .overlay__image {
  object-fit: contain;
  width: 100%;
  height: 100%;
  display: none;
}
.home__overlay .overlay__image.active {
  display: block;
}

.listings__wrapper {
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow: auto;
}

.listings__header {
  display: inline-block;
  left: 0;
  position: sticky;
  top: 0;
}

.listings {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 0px;
  margin-left: var(--margin);
  margin-right: var(--margin);
  width: max-content;
}
.listings .listings__item {
  flex-shrink: 0;
  height: 100%;
  margin-left: var(--margin);
  margin-right: calc(-1 * var(--scrollbar-width));
  overflow: auto;
  padding-bottom: calc(6 * var(--margin));
  padding-right: var(--scrollbar-width);
  width: var(--nonmobile--width, 300px);
}
@media screen and (max-width: 768px) {
  .listings .listings__item {
    width: var(--mobile--width, 50vw);
  }
}
.listings .listings__item:first-of-type {
  margin-left: initial;
}
.listings .listings__item div, .listings .listings__item ul {
  margin-bottom: 1em;
}
.listings .listings__item .listing__hero {
  margin-bottom: 1em;
}
.listings .listings__item .listing__title {
  font-weight: bold;
}
.listings .listings__item .listing__preview {
  margin-top: 1em;
}

.listing .listing__title {
  font-weight: bold;
}
.listing .listing__content {
  margin-top: 1em;
}
.listing .listing__gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--margin) + 1em);
  margin-left: calc(-1 * var(--margin));
}
.listing .listing__gallery .listing__gallery__item {
  width: 200px;
  margin-top: var(--margin);
  margin-left: var(--margin);
}
@media screen and (max-width: 768px) {
  .listing .listing__gallery .listing__gallery__item {
    width: calc(50% - var(--margin));
  }
}
.listing .listing__gallery .listing__gallery__item .listing__gallery__item__caption {
  margin-top: 1em;
  font-size: var(--font-size--secondary);
}

.partners__container {
  flex-shrink: 1;
  height: 50%;
}
@media screen and (max-width: 768px) {
  .partners__container {
    flex-shrink: initial;
    height: initial;
    padding-bottom: calc(2 * var(--margin));
  }
}

.partners {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  margin-left: calc(-1 * var(--margin));
}
@media screen and (max-width: 768px) {
  .partners {
    height: initial;
  }
}
.partners .partners__partner {
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  padding-top: var(--margin);
  padding-bottom: var(--margin);
  margin-left: var(--margin);
  width: calc((100% / var(--partner--count, 5)) - var(--margin));
  height: 100%;
  overflow: auto;
  padding-right: var(--scrollbar-width);
}
@media screen and (max-width: 768px) {
  .partners .partners__partner {
    width: calc(50% - var(--margin));
    height: initial;
    overflow: initial;
  }
}
.partners .partners__partner .partner__logo {
  margin: var(--margin);
  padding-top: 66.66%;
  position: relative;
}
.partners .partners__partner .partner__logo .partner__logo__image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.partners .partners__partner .partner__description {
  color: var(--partner-color);
}

.publication div, .publication ul {
  margin-bottom: 1em;
}
.publication .publication__images {
  position: relative;
  padding-top: calc(2 / 3 * 100%);
  cursor: e-resize;
}
.publication .publication__images .publication__images__image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left;
  display: none;
}
.publication .publication__images .publication__images__image.active {
  display: block;
}
.publication .publication__credits {
  font-size: var(--font-size--secondary);
}
.publication .publication__metadata {
  font-size: var(--font-size--secondary);
}

.about__container {
  display: grid;
  grid-template-columns: fit-content(700px) fit-content(300px);
  grid-column-gap: var(--margin);
}
@media screen and (max-width: 768px) {
  .about__container {
    grid-row-gap: calc(1em * var(--line-height));
    grid-template-columns: 1fr;
  }
}

.email-signup {
  height: calc(1em * var(--line-height));
}
.email-signup .js-cm-form {
  display: flex;
}
.email-signup .js-cm-form input[type=email] {
  border-bottom: 0.1em solid var(--main-color);
}
.email-signup .js-cm-form button[type=submit] {
  margin-left: calc(0.5 * var(--margin));
  cursor: pointer;
  color: var(--highlight-color);
}
