/* ----------------------------------------------------------------------------------------------------

SCSS Form Reset Helpers - Forked from: https://gist.github.com/anthonyshort/552543

Intended usage:
- MIXINS: for very specific use cases, when you dont want to reset absolutly all the forms, very verbose output.
- PLACEHOLDER SELECTORS: use as extending classes. Less verbose, more generic overrides.

A couple of things to watch out for:

- IE8: If a text input doesn't have padding on all sides or none the text won't be centered.
- The default border sizes on text inputs in all UAs seem to be slightly different. You're better off using custom borders.
- You NEED to set the font-size and family on all form elements
- Search inputs need to have their appearance reset and the box-sizing set to content-box to match other UAs
- You can style the upload button in webkit using ::-webkit-file-upload-button
- ::-webkit-file-upload-button selectors can't be used in the same selector as normal ones. FF and IE freak out.
- IE: You don't need to fake inline-block with labels and form controls in IE. They function as inline-block.
- By turning off ::-webkit-search-decoration, it removes the extra whitespace on the left on search inputs

----------------------------------------------------------------------------------------------------*/
@import url(fonts/stylesheet.css);
input, label, select, button, textarea {
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 0;
  width: auto;
  vertical-align: middle;
  white-space: normal;
  line-height: inherit;
  background: none;
  /* Browsers have different default form fonts */
  color: inherit;
  font-size: inherit;
  font-family: inherit; }

input[type=reset], input[type=button], input[type=submit], input[type=checkbox], input[type=radio], select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input {
  /* Make webkit render the search input like a normal text field */
  /* Turn off the recent search for webkit. It adds about 15px padding on the left */
  /* Fix IE7 display bug */
  /* These elements are usually rendered a certain way by the browser */ }
  input:focus {
    outline: 0; }
  input[type=checkbox], input[type=radio] {
    width: 13px;
    height: 13px; }
  input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box; }
  ::-webkit-search-decoration {
    display: none; }
  input[type="reset"], input[type="button"], input[type="submit"] {
    overflow: visible; }

select {
  /* Move the label to the top */ }
  select[multiple] {
    vertical-align: top; }

button {
  background: none;
  border: 0;
  outline: none;
  /* IE8 and FF freak out if this rule is within another selector */ }
  button::-moz-focus-inner {
    border: 0;
    padding: 0; }
  button:hover, button:active, button:focus {
    outline: 0; }
  ::-webkit-file-upload-button {
    padding: 0;
    border: 0;
    background: none; }

textarea {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto; }

/* RESET/GLOBAL */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  /* Now 10px = 1rem! */
  -webkit-text-size-adjust: 100%; }

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--main-color); }

ul {
  list-style-type: none; }

strong, b {
  font-weight: bold; }

img {
  display: block;
  width: 100%;
  height: auto; }

a {
  color: currentColor;
  text-decoration: none; }

button {
  cursor: pointer; }

.shop__header, .origin .season--origin .origin__header {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-column-gap: var(--margin); }
  @media screen and (max-width: 768px) {
    .shop__header, .origin .season--origin .origin__header {
      grid-template-columns: repeat(3, minmax(0, 1fr)); } }

:root {
  --font-size: 1.8rem;
  --font-size--secondary: 1.5rem;
  --font-size--mobile: 1.6rem;
  --font-size--mobile--secondary: 1.2rem;
  --line-height: 1.22;
  --margin: 3.0rem;
  --margin--mobile: 1.5rem;
  --font-family: 'Sabon', serif;
  --highlight-color: #812991;
  --alert-color: #f00;
  --main-color: #888;
  --ticker-width: -100vw; }
  @media screen and (max-width: 768px) {
    :root {
      --margin: var(--margin--mobile);
      --font-size: var(--font-size--mobile);
      --font-size--secondary: var(--font-size--mobile--secondary); } }

.highlight, .text a, .shop__header .shop__content, .shop .item .item__reviews {
  color: var(--highlight-color); }

.layout-wrapper {
  margin: var(--margin);
  max-width: 700px; }

.layout-wrapper--full {
  margin: var(--margin); }

body {
  padding-bottom: calc(2 * var(--margin)); }

.navigation__container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, white 35%); }
  .navigation__container nav {
    padding: var(--margin);
    overflow-x: auto;
    overflow-y: hidden; }
    .navigation__container nav .navigation {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap; }
      .navigation__container nav .navigation .navigation__item {
        padding-right: var(--margin);
        flex-shrink: 0; }

.event-ticker {
  --width: 100vw;
  color: var(--highlight-color);
  overflow: hidden;
  width: var(--width); }
  .event-ticker .ticker__list {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--width), 0, 0);
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
@keyframes marquee {
  from {
    transform: translate3d(var(--width), 0, 0); }
  to {
    transform: translate3d(var(--ticker-width), 0, 0); } }
    .event-ticker .ticker__list .ticker__item {
      padding-right: var(--margin);
      white-space: nowrap; }

.text p, .text figure, .text ul, .text ol {
  margin-top: 1em; }
.text hr {
  display: none; }
.text blockquote {
  padding-left: 4em;
  padding-right: 4em; }
.text img {
  display: block;
  width: 100%; }
.text *:first-child {
  margin-top: initial; }

.events-exhibitions {
  columns: 4;
  column-gap: var(--margin); }
  @media screen and (max-width: 768px) {
    .events-exhibitions {
      columns: 2; } }
  .events-exhibitions .listing__list {
    break-inside: avoid-column;
    margin-bottom: var(--margin); }
    .events-exhibitions .listing__list .listing__hero {
      margin-bottom: 1em; }
    .events-exhibitions .listing__list .listing__title {
      font-weight: bold; }
    .events-exhibitions .listing__list .listing__preview {
      margin-top: 1em; }

.event-exhibition .listing__title {
  font-weight: bold; }
.event-exhibition .listing__content {
  margin-top: 1em; }
.event-exhibition .listing__gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--margin) + 1em);
  margin-left: calc(-1 * var(--margin)); }
  .event-exhibition .listing__gallery .listing__gallery__item {
    width: 200px;
    margin-top: var(--margin);
    margin-left: var(--margin); }
    @media screen and (max-width: 768px) {
      .event-exhibition .listing__gallery .listing__gallery__item {
        width: calc(50% - var(--margin)); } }
    .event-exhibition .listing__gallery .listing__gallery__item .listing__gallery__item__caption {
      margin-top: 1em;
      font-size: var(--font-size--secondary); }

.shop__header {
  grid-template-areas: "title content content content content"; }
  .shop__header .shop__title {
    grid-area: title; }
  .shop__header .shop__content {
    grid-area: content; }
  @media screen and (max-width: 768px) {
    .shop__header {
      grid-template-areas: "title content content"; } }

.shop {
  display: flex;
  flex-direction: row;
  overflow-x: auto; }
  .shop .item {
    width: 20%;
    flex-shrink: 0;
    margin-left: var(--margin); }
    @media screen and (max-width: 768px) {
      .shop .item {
        width: 50%; } }
    .shop .item:first-of-type {
      margin-left: initial; }
    .shop .item div {
      margin-bottom: 1em; }
    .shop .item .item__credits {
      font-size: var(--font-size--secondary); }
    .shop .item .item__metadata {
      font-size: var(--font-size--secondary); }

.email-signup .js-cm-form {
  display: flex; }
  .email-signup .js-cm-form input[type="email"] {
    border-bottom: 0.1em solid var(--main-color); }
  .email-signup .js-cm-form button[type="submit"] {
    margin-left: calc(0.5 * var(--margin));
    cursor: pointer;
    color: var(--highlight-color); }

.origin {
  padding-bottom: initial; }
  .origin .season--origin {
    height: 100vh;
    padding: var(--margin);
    margin: initial;
    display: flex;
    flex-direction: column; }
    .origin .season--origin .origin__header {
      z-index: 5;
      grid-template-areas: "logo definition definition definition bibliography";
      position: relative;
      pointer-events: none; }
      .origin .season--origin .origin__header .origin__site-title {
        grid-area: logo;
        display: flex;
        flex-direction: column; }
        .origin .season--origin .origin__header .origin__site-title .site-title__text {
          pointer-events: initial; }
        .origin .season--origin .origin__header .origin__site-title .site-title__logo {
          visibility: hidden; }
      .origin .season--origin .origin__header .origin__definition-container {
        grid-area: definition;
        color: #555;
        font-family: monospace;
        font-size: 1.2em;
        font-weight: 500; }
        @media screen and (max-width: 768px) {
          .origin .season--origin .origin__header .origin__definition-container {
            font-size: 1.05em; } }
        .origin .season--origin .origin__header .origin__definition-container.expanded .origin__definition {
          display: block; }
        .origin .season--origin .origin__header .origin__definition-container .origin__title {
          cursor: pointer;
          pointer-events: initial; }
        .origin .season--origin .origin__header .origin__definition-container .origin__definition {
          display: none;
          text-align: justify;
          margin-top: 1em; }
          @media screen and (max-width: 768px) {
            .origin .season--origin .origin__header .origin__definition-container .origin__definition {
              text-align: initial;
              word-break: break-all; } }
      .origin .season--origin .origin__header .bibliography {
        grid-area: bibliography;
        position: absolute;
        left: 0;
        right: 0;
        overflow: auto;
        height: calc(100vh - 2 * var(--margin)); }
        .origin .season--origin .origin__header .bibliography .bibliography__header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          pointer-events: initial; }
          .origin .season--origin .origin__header .bibliography .bibliography__header .bibliography__header__button {
            cursor: pointer; }
        .origin .season--origin .origin__header .bibliography .bibliography__list {
          visibility: hidden;
          margin-top: 1em; }
          .origin .season--origin .origin__header .bibliography .bibliography__list .bibliography__item {
            margin-left: 1em;
            text-indent: -1em;
            margin-bottom: 1em;
            word-wrap: break-word;
            font-size: var(--font-size--secondary); }
            .origin .season--origin .origin__header .bibliography .bibliography__list .bibliography__item .bibliography__item__embed {
              margin-left: 1em; }
              .origin .season--origin .origin__header .bibliography .bibliography__list .bibliography__item .bibliography__item__embed iframe, .origin .season--origin .origin__header .bibliography .bibliography__list .bibliography__item .bibliography__item__embed div, .origin .season--origin .origin__header .bibliography .bibliography__list .bibliography__item .bibliography__item__embed img {
                width: 100%;
                height: auto; }
              .origin .season--origin .origin__header .bibliography .bibliography__list .bibliography__item .bibliography__item__embed audio {
                display: block;
                width: 100%; }
        .origin .season--origin .origin__header .bibliography.expanded {
          pointer-events: initial; }
          .origin .season--origin .origin__header .bibliography.expanded .bibliography__list {
            visibility: visible; }
      @media screen and (max-width: 768px) {
        .origin .season--origin .origin__header {
          grid-template-areas: "definition definition bibliography"; }
          .origin .season--origin .origin__header .origin__site-title {
            display: none; } }
    .origin .season--origin .origin__contents {
      position: fixed;
      z-index: 3;
      margin-left: var(--margin);
      margin-right: var(--margin);
      margin-top: 20vh;
      margin-bottom: calc(4 * var(--margin));
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }
      @media screen and (max-width: 768px) {
        .origin .season--origin .origin__contents {
          margin-top: 55vh; } }
      .origin .season--origin .origin__contents.active {
        z-index: 10;
        opacity: 0; }
      .origin .season--origin .origin__contents .origin__blocks {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        grid-template-rows: repeat(3, minmax(0, 1fr)); }
        .origin .season--origin .origin__contents .origin__blocks .origin__block__container {
          grid-area: var(--grid-area); }
          .origin .season--origin .origin__contents .origin__blocks .origin__block__container .origin__block {
            position: relative;
            height: 100%;
            background-color: var(--background-color, #FFF);
            padding: calc(0.5 * var(--margin));
            display: flex;
            flex-direction: column;
            justify-content: space-around; }

.origin__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  padding: var(--margin); }
  .origin__overlay.active {
    display: flex;
    z-index: 9; }
  .origin__overlay .overlay__heading {
    position: fixed;
    pointer-events: none;
    color: white;
    top: var(--margin);
    left: var(--margin); }
  .origin__overlay .overlay__image {
    object-fit: contain;
    width: 100%;
    height: 100%;
    display: none; }
    .origin__overlay .overlay__image.active {
      display: block; }

.codeswitch .codeswitch__content, .codeswitch .codeswitch__overlay__title {
  font-family: 'Arial', sans-serif;
  font-weight: bold; }

.codeswitch {
  background-color: #dd6203;
  padding-bottom: initial; }
  .codeswitch .codeswitch__content {
    min-width: 100vw;
    min-height: 100vh;
    margin-bottom: 6em;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap; }
    .codeswitch .codeswitch__content .codeswitch__block {
      display: none;
      width: var(--width);
      margin: var(--margin);
      order: var(--order); }
      .codeswitch .codeswitch__content .codeswitch__block:first-of-type {
        display: block; }
      .codeswitch .codeswitch__content .codeswitch__block:hover .codeswitch__block__text:not(:only-child) {
        visibility: visible; }
      @media screen and (max-width: 768px) {
        .codeswitch .codeswitch__content .codeswitch__block {
          width: 40vw; } }
      .codeswitch .codeswitch__content .codeswitch__block .codeswitch__block__upload * {
        width: 100%;
        display: block; }
      .codeswitch .codeswitch__content .codeswitch__block .codeswitch__block__upload img, .codeswitch .codeswitch__content .codeswitch__block .codeswitch__block__upload video, .codeswitch .codeswitch__content .codeswitch__block .codeswitch__block__upload div {
        height: auto; }
      .codeswitch .codeswitch__content .codeswitch__block .codeswitch__block__embed {
        position: relative;
        padding: 56.25% 0 0 0; }
        .codeswitch .codeswitch__content .codeswitch__block .codeswitch__block__embed iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }
      .codeswitch .codeswitch__content .codeswitch__block .codeswitch__block__text {
        margin-top: 0.5em;
        color: white; }
        .codeswitch .codeswitch__content .codeswitch__block .codeswitch__block__text:only-child {
          margin-top: initial; }
        .codeswitch .codeswitch__content .codeswitch__block .codeswitch__block__text:not(:only-child) {
          visibility: hidden; }
          @media screen and (max-width: 768px) {
            .codeswitch .codeswitch__content .codeswitch__block .codeswitch__block__text:not(:only-child) {
              visibility: initial; } }
  .codeswitch .codeswitch__overlay {
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .codeswitch .codeswitch__overlay__content {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
    .codeswitch .codeswitch__overlay__title {
      font-size: 5em; }
      @media screen and (max-width: 768px) {
        .codeswitch .codeswitch__overlay__title {
          font-size: 2em; } }

/*# sourceMappingURL=main.css.map */
