:root {
  --font-size: 1.8rem;
  --font-size--secondary: 1.5rem;
  --font-size--mobile: 1.6rem;
  --font-size--mobile--secondary: 1.2rem;
  --line-height: 1.22;
  --margin: 3.0rem;
  --margin--mobile: 1.5rem;
  --scrollbar-width: 1.5rem;
  --font-family: "Sabon", serif;
  --highlight-color: #000;
  --alert-color: #f00;
  --main-color: #888;
  --ticker-width: -100vw;
}
@media screen and (max-width: 768px) {
  :root {
    --margin: var(--margin--mobile);
    --font-size: var(--font-size--mobile);
    --font-size--secondary: var(--font-size--mobile--secondary);
  }
}

.mullen {
  padding-bottom: initial;
  background-color: #224fc7;
  font-family: "Times";
  align-items: center;
  margin-top: var(--margin);
}
.mullen .mullen__layout-wrapper {
  display: flex;
  max-width: 470px;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin: auto;
  color: white;
}
@media screen and (max-width: 768px) {
  .mullen .mullen__layout-wrapper {
    margin: var(--margin);
  }
}
.mullen .hidden {
  display: none;
}
.mullen .hidden.expanded {
  display: block;
}
.mullen .poem {
  font-size: var(--font-size);
  padding-bottom: calc(5 * var(--margin));
}
@media screen and (max-width: 768px) {
  .mullen .poem {
    white-space: nowrap;
    overflow: auto;
  }
}
.mullen .poem__title {
  padding-bottom: calc(3 * var(--margin));
  cursor: pointer;
}
.mullen .poem__citation {
  padding-bottom: calc(2.5 * var(--margin));
  font-size: var(--font-size--secondary);
}
.mullen .audio {
  padding-bottom: calc(3 * var(--margin));
  font-size: var(--font-size--secondary);
}
.mullen .audio .audio__block {
  margin: 0;
  text-align: left;
  z-index: -9;
  padding-bottom: calc(.5 * var(--margin));
}
.audio a {
  color: white;
  font-style: italic;
}

.navigation__container {
  z-index: 7;
}

.mullen__bio-credits {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 3;
  overflow: auto;
  padding-bottom: calc(3 * var(--margin));
  color: white;
  background-color: #224fc7;
}
.mullen__bio-credits.active {
  display: block;
}
.mullen__bio-credits .bio {
  padding-bottom: calc(2 * var(--margin));
}
